// default shadow
@mixin shadow {
  box-shadow: 0 $s3 $s9 $transparent-xs;
}

@mixin shadow-secondary {
  box-shadow: 0 $s3 $s9 $transparent-secondary-md;
}

// columns
@mixin col($span) {
  $x: 12/$span;
  width: calc((100%/#{$x}) - #{$s9});
}

// media queries
@mixin phone {
  @media (min-width: $phone-breakpoint){
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint){
    @content;
  }
}

@mixin desktop-sm {
  @media (min-width: $desktop-sm-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
