@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body, input, button, textarea {
  font-family: 'Ubuntu';
  color: $secondary;
}

h1, h2, h3 {
 font-weight: $bold;
}

h1 {
  font-size: $s9;
  margin-bottom: $s8;
}

h2 {
  font-size: $s7;
  margin-bottom: $s8;

}

p {
  font-size: $s6;
}

