// ======= colors
$primary:   #0D6EA6;
$secondary: #0E3D59;

$gray-500: #A4BDCB;
$gray-400: #E8EEF2;
$gray-300: #F2F6F8;
$gray-100: #FCFDFD;

$white:  #fff;
$black: #000;

$transparent-xs: rgba($primary, .9);
$transparent-lg: rgba($primary, .6);

// ======== spaces
$s1: .3rem;
$s2: .6rem;
$s3: .9rem;
$s4: 1.2rem;
$s5: 1.5rem;
$s6: 1.8rem;
$s7: 2.1rem;
$s8: 2.4rem;
$s9: 3rem;
$s10: 3.3rem;
$s11: 3.6rem;
$s12: 3.9rem;
$s13: 4.2rem;
$s14: 4.5rem;
$s15: 5.4rem;
$s16: 6rem;

// =========== font
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// default transition:
$trn3: all .3s ease-in-out;
