// box-reset
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// unity reset
html,
:root {
  font-size: 10px;
}

body {
  min-height: 100vh;
  background-color: $secondary;
}

// input & button reset
button,
input {
  border: none;
  background-color: $gray-100;
  overflow: hidden;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

button {
  cursor: pointer;
}

.c-pagination li.current {
  background-color: $primary!important;
}
