
// positioning
.pos-relative {
  position: relative;
}

// padding
.py-3 {
  padding-top: $s3;
  padding-bottom: $s3;
}

.p {
  padding: 0!important;
}


// margins


// resposive
@include tablet {
  .ml-md-auto {
    margin-left: auto;
  }
}

@include desktop {
  .ml-lg-auto {
    margin-left: auto;
  }
}
