@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.countries {
  background-color: $gray-300;
  padding: $s16 0;

  .countries-count,
  .dropdown,
  .layout-options button {
    margin-bottom: $s9;
    font-size: $s5;
  }

  .c-pagination{
    font-size: $s5;
    display: inline-block;
    margin-right: $s6;;
    align-self: center;
    margin-bottom: $s8;

    .current {
      background: $primary!important;
    }
  }

  .actions {
    .dropdown {
      position: relative;
      display: inline-block;
      min-width: 21.3rem;
      text-align: right;

      &-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: $gray-100;
        min-width: 21.3rem;
        text-align: left;
        @include shadow;
        z-index: 9000;

        a {
          color: $secondary;
          padding: $s4 $s5;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: $gray-400;
          }
        }
      }

      &:hover {
        .dropdown-content {
          display: block;
        }
        .dropdown-btn {
          color: $primary;
          border-color: $gray-500;
        }
      }
    }

    button.btn-option,
    .layout-options button {
      border: 1px solid $gray-400;
      background-color: $gray-100;
      max-width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $trn3;

      &:hover,
      &:focus,
      &.active {
        color: $primary;
        border-color: $gray-500;
      }

      .btn-icon {
        font-size: $s6;
        height: $s6;
        overflow: hidden;
        display: inline-block;
        margin-left: $s2;
      }
    }

    .btn-option {
      border-radius: $s14;
      padding: $s4 $s8;
    }

    .layout-options {
      display: none;

      button {
        padding: $s4;

        &.btn-grid-layout {
          border-radius: $s14 0 0 $s14;
        }

        &.btn-table-layout {
          border-radius: 0 $s14 $s14 0;
        }

        .btn-icon {
          margin: 0;
          font-size: $s6;
          height: $s6;
          width: $s6;
          overflow: hidden;
          display: inline-block;
        }
      }
    }
  }

  // not found text
  .notFound > h1 {
    font-weight: $light;
  }

  @include tablet {
    .actions {
      // .btn-option:not(:nth-child(2)),
      .layout-options {
        margin-left: $s6;
      }
    }
  }

  @include desktop {
    .actions {
      .layout-options {
        display: flex;
      }
    }
  }
}
