@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.hero {
  padding: $s16 0;

  text-align: center;
  background-color: $primary;
  color: $white;

  h1 {
    margin-bottom: $s14;
  }

  p {
    display: none;
  }

  @include desktop {
    h1 {
      margin-bottom: $s9;
    }

    p {
      margin-bottom: $s14;
      display: block;
    }
  }
}
