<div class="country-card">
  <img src="" alt="Bandeira Afegan">
  <h2>Afghanistan</h2>
  <ul>
    <li><strong>Nome nataivo:&nbsp;</strong>افغانستان</li>
    <li><strong>Capital:&nbsp;</strong>Kabul</li>
    <li><strong>Região:&nbsp;</strong>Asia</li>
    <li><strong>Sub-região:&nbsp;</strong>Southern Asia</li>
    <li><strong>População:&nbsp;</strong>27657145</li>
    <li><strong>Área:&nbsp;</strong>652230.0</li>
    <li><strong>Fuso horário:&nbsp;</strong>UTC+04:30</li>

    <div class="options">
      <button>Visualizar a bandeira <i-bs name="flag"></i-bs></button>
      <button>Exportar <i-bs name="download"></i-bs></button>
    </div>
  </ul>
</div>
