<div class="country-card" *ngIf="country">
  <img class="img-flag" src="{{country.flag}}" alt="Bandeira {{country.demonym}}">
  <h2>{{country.name}}</h2>
  <ul>
    <li><strong>Nome nataivo:&nbsp;&nbsp;</strong>{{country.nativeName}}</li>
    <li><strong>Capital:&nbsp;&nbsp;</strong>{{country.capital}}</li>
    <li><strong>Região:&nbsp;&nbsp;</strong>{{country.region}}</li>
    <li><strong>Sub-região:&nbsp;&nbsp;</strong>{{country.subregion}}</li>
    <li><strong>População:&nbsp;&nbsp;</strong>{{country.population}}</li>
    <li><strong>Área:&nbsp;&nbsp;</strong>{{country.area | squareKilometer}}</li>
    <li><strong>Fuso horário:&nbsp;&nbsp;</strong>{{country.timezones}}</li>
    <li class="options">
      <button class="btn-download">Exportar <i-bs class="icon" name="download"></i-bs></button>
      <button class="btn-flag" (click)="openPopup()">Visualizar a bandeira <i-bs class="icon" name="flag"></i-bs></button>
    </li>
  </ul>
</div>
