<header>
  <div class="container">
    <div class="row pos-relative align-items-center py-3">
      <!-- logo -->
      <img class="logo" src="../assets/img/logo.svg" alt="Logotipo Countriew">

      <!-- alternative searchbar -->
      <!-- <div class="col">
        <app-search-bar></app-search-bar>
      </div> -->

      <!-- mobile nav toogle -->
      <button class="mobile-nav-toggle">
        <i-bs name="list"></i-bs>
      </button>

      <!-- desktop nav -->
      <nav class="desktop">
        <ul>
          <li><a href="" class="active">Países</a></li>
          <li><a href="">Sobre</a></li>
          <li><a href="">Contribuir</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <nav class="mobile">
    <button class="btn-close">
      <i-bs name="x"></i-bs>
    </button>
    <ul>
      <li><a href="" class="active">Países</a></li>
      <li><a href="">Sobre</a></li>
      <li><a href="">Contribuir</a></li>
    </ul>
  </nav>
</header>

<app-hero></app-hero>
<app-countries></app-countries>

<footer>
  <div class="container">
    <div class="row">
      <!-- footer logo -->
      <img class="logo" src="../assets/img/logo.svg" alt="Logotipo countriew">

      <!-- copyright -->
      <p>&copy;2020 · Desenvolvido com ♥️️ por Zacarias Torrezão.</p>

      <!-- social links -->
      <ul class="socials">
        <li><a href="#"><img src="../assets/img/linkedin.svg" alt="Meu Instagram"></a></li>
        <li><a href="#"><img src="../assets/img/github.svg" alt="Meu Github"></a></li>
        <li><a href="#"><img src="../assets/img/instagram.svg" alt="Meu LinkedIn"></a></li>
      </ul>
    </div>
  </div>
</footer>
