@import "../assets/scss/variables";
@import "../assets/scss/mixins";

header {
  background-color: $primary;

  .logo {
    width: 14.184rem;
    height: auto;
  }

  button.mobile-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: $s13;
    height: $s13;
    padding:$s2;

    background-color: transparent;
    color: $white;
    font-size: $s13;

    &:hover{
      background-color: darken($primary, 9%);
    }

    .icon {
      height: $s13;
    }
  }

  // desktop nav
  nav.desktop {
    margin-left: auto;
    display: none;

    ul {
      display: flex;
      list-style: none;

      li a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $white;
        font-size: $s6;
        padding: $s6 0 0 $s6;

        transition: $trn3;

        &::after {
          content: " ";
          position: absolute;
          width: 0;
          height: $s1;
          background-color: $white;
          bottom: -$s2;
          left: $s6;
          border-radius: $s2;
          transition: all 0.3s ease-in;
        }

        &:hover,
        &.active {
          &::after {
            width: calc(100% - #{$s6});
          }
        }
      }
    }
  }

  // mobile nav
  nav.mobile {
    top: -100%;
    right: -100%;
    transition: $trn3;
    position: fixed;
    z-index: 9000;
    width: 100vw;
    height: 100vh;
    background-color: $gray-300;
    opacity: 0;
    padding-top: $s16;

    .btn-close {
      display: inline-block;
      position: absolute;
      top: $s6;
      right: $s6;
      height: $s13;
      font-size: $s13;
      background-color: transparent;
      color: $secondary;
      border: none;
      transition: $trn3;

      &:hover {
        color: $primary;
      }
    }

    ul {
      list-style-type: none;

      li {
        margin-bottom: $s2;

        a {
          display: block;
          padding: $s4;
          text-align: center;
          text-decoration: none;
          font-size: $s6;
          color: $secondary;
          transition: $trn3;

          &.active,
          &:hover {
            color: $primary;
          }
        }
      }
    }

    &.opened {
      top: 0;
      left: 0;
      opacity: 1;
    }
  }

  // set responsive behavior to the header
  &.search-mode {
    display: none;
  }

  // set responsive behavior to the header
  @include desktop {
    button.mobile-nav-toggle {
      display: none;
    }

    nav.desktop {
      display: block;
    }

    &.search-mode {
      display: block;
    }
  }
}

.hero {
  padding: $s16 0;
  text-align: center;
  background-color: $primary;
  color: $white;

  .intro-text {
    overflow: hidden;
    transition: $trn2;

    h1 {
      margin-bottom: $s14;
    }

    p {
      display: none;
    }

    @include desktop {
      h1 {
        margin-bottom: $s9;
      }

      p {
        margin-bottom: $s14;
        display: block;
      }
    }
  }

  &.search-mode {
    padding: $s3 0;

    .intro-text {
      height: 0;
      opacity: 0;
    }
  }

  @include desktop {
    &.search-mode {
      padding: $s9 0;
    }
  }
}

footer {
  background-color: $secondary;
  padding: $s9 0;
  color: $white;

  .logo {
    margin-bottom: $s8;
  }

  p {
    font-weight: $light;
    text-align: center;
    margin-bottom: $s8;

    strong {
      font-weight: $medium;
    }
  }

  ul {
    list-style: none;
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: $s6;
      }

      a {
        text-decoration: none;
        display: inline-block;
        // padding: $s2;

        img {
          width: $s8;
          height: auto;
        }
      }
    }
  }

  @include desktop {
    .logo {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}
