<!-- header -->
<header class=" {{isSearchMode ? 'search-mode' : ''}}">
  <div class="container">
    <div class="row pos-relative align-items-center py-3">
      <!-- logo -->
      <img class="logo" src="../assets/img/logo.svg" alt="Logotipo Countriew">

      <!-- alternative searchbar -->
      <!-- <div class="col">
        <app-search-bar></app-search-bar>
      </div> -->

      <!-- mobile nav toogle -->
      <button class="mobile-nav-toggle" (click)="openMobileNav()">
        <i-bs name="list"></i-bs>
      </button>

      <!-- desktop nav -->
      <nav class="desktop">
        <ul>
          <li><a href="" class="active">Países</a></li>
          <li><a href="">Sobre</a></li>
          <li><a target="_blank" href="https://github.com/ztorrezao/countriew">Contribuir</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <nav class="mobile {{isMobileNavOpen ? 'opened' : ''}}">
    <button class="btn-close" (click)="closeMobileNav()">
      <i-bs name="x"></i-bs>
    </button>
    <ul>
      <li><a href="" class="active">Países</a></li>
      <li><a href="">Sobre</a></li>
      <li><a target="_blank" href="https://github.com/ztorrezao/countriew">Contribuir</a></li>
    </ul>
  </nav>
</header>

<!-- hero -->
<section class="hero {{isSearchMode ? 'search-mode' : ''}}">
  <div class="container">
    <div class="row flex-column align-items-center">
      <div class="col col-lg-8 intro-text">
        <h1>Visualize informações de qualquer país?</h1>
        <p>
          Através do countriew você pode pesquisar e visualizar as informações dos países de todo o mundo. Comece agora,
          use o motor de busca abaixo, e pesquise por um país.
        </p>
      </div>

      <div class="col col-lg-10">
        <app-search-bar (searchEvent)="checkSearchMode($event)"></app-search-bar>
      </div>
    </div>
  </div>
</section>

<!-- countries -->
<app-countries></app-countries>

<!-- footer -->
<footer>
  <div class="container">
    <div class="row flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
      <!-- footer logo -->
      <img class="logo" src="../assets/img/logo.svg" alt="Logotipo countriew">

      <!-- copyright -->
      <p>&copy;2020 &middot; Desenvolvido com &hearts; por <strong>Zacarias Jorge Torrezão</strong>.</p>

      <!-- social links -->
      <ul class="socials">
        <li><a target="_blank" href="https://www.linkedin.com/in/ztorrezao"><img src="../assets/img/linkedin.svg"
              alt="Meu LinkedIn"></a></li>
        <li><a target="_blank" href="https://github.com/ztorrezao"><img src="../assets/img/github.svg"
              alt="Meu Github"></a></li>
        <li><a target="_blank" href="https://www.instagram.com/ztorrezao"><img src="../assets/img/instagram.svg"
              alt="Meu Instagram"></a></li>
      </ul>
    </div>
  </div>
</footer>
<app-flag-popup></app-flag-popup>
